<div class="example-card">
    <div>Name: {{ this.user?.name }}</div>
  
    <div>Company Name: {{ this.user?.company?.name }}</div>
    <div>Post Title: {{ post.title }}</div>
    <div>Post Body: {{ post.body }}</div>
    <div>
      <app-button
        (btnClick)="onToggleComments()"
        text="View Comments"
      ></app-button>
      <app-button (btnClick)="onClickA()" text="Add Comments"></app-button>
    </div>
    <div>
      <app-comments [showMe]="showComments" [post]="post"></app-comments>
    </div>
  </div>

